@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);

.navbar{
    border-radius:0px 0px 15px 15px !important;
    
}
.navbar-brand{
    font-size: 3em !important;
    color: aliceblue !important;
  
}

.nav-item{
    font-size: 2em !important;
    color: aliceblue !important;

}
.nav-link{
    color: rgba(240, 248, 255, 0.774) !important;

}
.navbar-text
{
    
    color: rgba(240, 248, 255, 0.774) !important;
}

.sec1{
    background-image: url(../img/rico.png);
    background-size: cover;
}
.blur {
    background: rgba(53, 51, 51, 0.2); 
    backdrop-filter: blur(2px); 
  }
